@import "tailwindcss/preflight";

/* Add custom base styles here... */

@import "tailwindcss/components";

/* Add custom components here... */

@import "tailwindcss/utilities";

/* Add custom utilities here... */
.turbolinks-progress-bar {
  @apply hidden;
}

[v-cloak] {
  display: none;
}

#progress-bar {
    height: 2px;
}

.nanobar {
  width: 100%;
  height: 2px;
  z-index: 9999;
  top:0
}

.bar {
  width: 0;
  height: 100%;
  transition: height .4s;
  @apply bg-blue
}
